/* You can add global styles to this file, and also import other style files */
/* Estilos para el botón de palíndromo */
mark.palindrome {
    background-color: green !important; /* Forzar el color de fondo */
    color: black !important; /* Forzar el color del texto */
    font-weight: bold;
  }

mark.similarity {
background-color: blue; /* Color de fondo para el botón de palíndromo */
color: black; /* Color del texto del botón de palíndromo */
font-weight: bold; /* Texto en negrita */
}

mark.pattern {
background-color: yellow; /* Color de fondo para remarcar */
color: black; /* Color del texto remarcado */
font-weight: bold; /* Texto en negrita */
}